[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git@github.com:Pentium133/nerdtree.git
[submodule "bundles/vim-symfony"]
	path = bundles/vim-symfony
	url = http://github.com/soh335/vim-symfony.git
[submodule "bundles/php-ident"]
	path = bundles/php-ident
	url = http://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "bundles/taglist"]
	path = bundles/taglist
	url = http://github.com/clones/vim-taglist.git
[submodule "bundles/bufexplorer"]
	path = bundles/bufexplorer
	url = http://github.com/edsono/vim-bufexplorer.git
